<footer>
  <div class="row">
    <div class="left3">&nbsp;</div>
    <div class="middle3">
      <a href="{{ site.github.url }}/license/"><img class="footer" src="{{ site.github.url }}/static/cc-by.svg" alt="License" /></a>
      <a href="{{ site.repo }}"><img class="footer" src="{{ site.github.url }}/static/github.svg" alt="Repository" /></a>
      © {{ site.copyrightYear }} <a href="{{ site.github.url }}/authors/">The Authors</a>
    </div>
    <div class="right3">&nbsp;</div>
  </div>
</footer>
